

body{
    background-image: url("hatterkep.jpg");
    
}
.full{
    font-style: italic;
    text-align: center;
   
}
h1{
    color: brown;
    font-size: 400%;
    
}

h2{
    margin:40px 10px 40px 20px;
    color: brown ;
    text-decoration: underline;
}

h4{
    font-weight: bold;
    margin: 5px;
    
}

textarea{
    background-color: rgb(  184, 140, 93 , 0.55); 
}
input{
    background-color: rgb(  184, 140, 93 , 0.55); 
}

.gomb {
    margin: auto;
}

#button{
    background-color: #B88C5D  ;
    border: none;
    color: brown;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font: bolder;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.posts{
    background: rgba(255, 255, 255, 0.25);
    width: 30%;
    margin: auto;
    border: 1px solid rgb(29, 24, 24);
    padding: 3px;
    
    
}